.loader {
  aspect-ratio: 1;
  border-radius: 50%;
  background: $dark-accent;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;

  &--sm {
    width: 30px;
    padding: 6px;
  }

  &--md {
    width: 50px;
    padding: 8px;
  }

  &--lg {
    width: 70px;
    padding: 10px;
  }

  &--xl {
    width: 100px;
    padding: 12px;
  }
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
