// Various
$default-font-size: 16px;
$max-container-width: 1136px;
// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md-slider: 640px;
$breakpoint-md: 744px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
// Dark Mode Colors
$dark-secondary: #75767f;
$dark-icons: #4a4d58;
$dark-elements: #3b3e4a;
$dark-surface-2: #323542;
$dark-surface-1: #161827;
$dark-black: #0f1121;
$dark-white: #f1f2f9;
$dark-accent: #905bff;
$dark-green: #27ae60;
$dark-red: #eb5757;
$dark-accent-hover: #a378ff;
