.primaryButton {
  background-color: var(--color-accent);
  color: var(--color-white);

  // Apply this style only when the light theme is active
  [data-theme='light'] & {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  // Define hover styles
  &:hover {
    @include hover(background-color, var(--color-accent-hover));
  }

  // ... rest of your styles
}
