.primaryButton {
  display: block;
  background-color: $dark-accent;
  color: $dark-white;
  padding: 0;
  border: 0;
  cursor: pointer;
  flex-grow: 1;

  &:hover {
    background-color: $dark-accent-hover;
  }

  &:disabled {
    border: 1px solid $dark-elements;
    background-color: $dark-surface-1;
    color: $dark-surface-2;
    cursor: default;
  }
}

.isSelected {
  background-color: $dark-surface-2;
}
