.searchBar {
  flex-grow: 1;
  width: 100%;

  border: 1px solid var(--color-elements);
  background-color: var(--color-surface-2);
  color: var(--color-white);
  font-size: $default-font-size;

  &:focus {
    border-color: var(--color-surface-1);
    box-shadow: none;
  }

  &::placeholder {
    color: var(--color-secondary);
  }
}
