.searchBar {
  border: 1px solid $dark-elements;
  background-color: $dark-surface-2;
  color: $dark-white;
  font-size: $default-font-size;

  &:focus {
    outline: none;
    border-color: $dark-surface-1;
  }

  &::placeholder {
    color: $dark-secondary;
  }
}
