.searchBar {
  flex-grow: 1;
  padding: 10px 16px;
  border: 1px solid $dark-elements;
  border-radius: 8px;
  background-color: $dark-surface-2;
  color: $dark-white;
  font-size: $default-font-size;

  &:focus {
    outline: none;
    border-color: $dark-surface-1;
  }

  &::placeholder {
    color: $dark-secondary;
  }
}
