.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .categories {
    @include page-grid;
    row-gap: 32px;

    &_card {
      grid-column: span 4;

      @include on-md {
        grid-column: span 4;
      }

      @include on-xl {
        grid-column: span 8;
      }
    }

    &_image {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: 60px 60px;

      @include hover(transform, scale($image-hover-scale));

      &:hover {
        transform: scale($image-hover-scale) translate(-5px, -5px);
      }

      @include on-lg {
        &:hover {
          transform: scale($image-hover-scale) translate(-10px, -10px);
        }
      }

      &Wrapper {
        background-color: var(--color-secondary);
        margin-bottom: 24px;
        overflow: hidden;
      }
    }

    &_link {
      @extend h4;
      text-decoration: none;
      color: var(--color-white);
      font-weight: normal;

      @include hover(color, var(--color-accent-hover));
    }

    &_modelsNumber {
      color: var(--color-secondary);
      cursor: default;
    }
  }
}
