.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  padding: 80px 0;
  color: $dark-white;

  @media (max-width: $breakpoint-md) {
    padding: 56px 0;
    flex-direction: column;
    gap: 56px;
  }
}

.heading {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 32px;
  border-bottom: 1px solid $dark-elements;
  padding-bottom: 16px;
}

.about {
  flex: 2;

  @media (max-width: $breakpoint-md) {
    flex: none;
  }

  .block {
    margin-bottom: 32px;

    h3 {
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: 600;
    }

    p {
      margin-bottom: 12px;
      line-height: 1.6;
      font-size: 15px;
      color: #89939a;
    }
  }
}

.specs {
  flex: 1;

  @media (max-width: $breakpoint-md) {
    flex: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;

      span:first-child {
        color: #89939a;
      }

      span:last-child {
        font-weight: 500;
        color: $dark-white;
      }
    }
  }
}
