@use '../../../styles/global' as *;

.dropdownSort {
  min-width: 136px;

  @include on-md {
    min-width: 187px;
  }

  @include on-lg {
    min-width: 176px;
  }
}

.dropdownPagination {
  min-width: 136px;

  @include on-lg {
    min-width: 128px;
  }
}

.dropdownLabel {
  @extend small;
  color: $dark-secondary;
  margin-bottom: 4px;
}

.dropdownTrigger {
  @extend .button-text;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  background-color: $dark-surface-2;
  border: 1px solid $dark-surface-2;
  cursor: pointer;

  .dropdownPlaceholder {
    color: $dark-white;
  }

  .dropdownIconWrapper {
    color: $dark-secondary;
  }

  &:hover {
    border-color: $dark-icons;

    .dropdownIconWrapper {
      color: $dark-icons;
    }
  }

  &:focus,
  &[data-state='open'] {
    outline: none;
    border-color: $dark-accent;
  }

  .dropdownIcon {
    margin-left: 8px;
    width: 16px;
    height: 16px;
  }
}

.dropdownContent {
  box-sizing: border-box;
  background-color: $dark-black;
  border: 1px solid $dark-elements;
  margin-top: 4px;
  padding: 8px 0;
  box-shadow: 0 2px 15px 0 #0000000d;
  min-width: 136px;

  &.dropdownSort {
    @include on-md {
      min-width: 187px;
    }

    @include on-lg {
      min-width: 176px;
    }
  }

  &.dropdownPagination {
    @include on-lg {
      min-width: 128px;
    }
  }
}

.dropdownItem {
  @extend .button-text;
  font-weight: 600;
  display: block;
  width: 100%;
  padding: 8px 12px;
  color: $dark-secondary;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    background-color: $dark-surface-2;
    color: $dark-white;
  }
}
