.sliderWrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.sliderContent {
  display: flex;
  justify-content: space-between;
}
.sliderButtons {
  display: flex;
  justify-content: end;
  gap: 16px;
}
.cardsWrapper {
  display: flex;
  justify-content: space-between;
}
.cardMock {
  width: 272px;
  height: 576px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide {
  display: flex;
  justify-content: center;
}

.sliderButtons {
  @include on-sm {
    gap: 12px;
  }

  @include on-md {
    gap: 16px;
  }
}
