.sliderWrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  overflow: hidden;

  .sliderContent {
    display: flex;
    justify-content: space-between;

    .sliderButtons {
      display: flex;
      justify-content: end;
      gap: 16px;
    }
  }

  .cardsWrapper {
    display: flex;
    width: 100%;

    .swiperSlide {
      width: auto;
      flex: 0 0 auto;
    }
  }
}
