.sliderButton {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: $dark-surface-2;
  border: 0;
  color: $dark-white;
  cursor: pointer;

  @include hover(background-color, $dark-icons);

  &:disabled {
    border: 1px solid $dark-elements;
    background-color: $dark-surface-1;
    color: $dark-surface-2;
    cursor: default;
  }
}
