.toFavoritesButton {
  width: 40px;
  height: 40px;
  background-color: $dark-surface-2;
  border: 0;
  border: 1px solid transparent;
  padding: 12px 12px;
  cursor: pointer;

  @include hover(background-color, $dark-icons);
}

.toFavoritesButtonSelected {
  background-color: $dark-black;
  border: 1px solid $dark-elements;
}

.toFavoritesSelectedIcon {
  fill: $dark-red;
  font-size: 16px;
  border-color: $dark-elements;
}

.toFavoritesIcon {
  fill: $dark-white;
  font-size: 16px;
}
